<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fashion_go"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.fs.fashion_go.FSApp"
        android:largeHeap="true"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/NMTheme" >
        <activity
            android:name="com.fs.fashion_go.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 登录 -->
        <activity
            android:name="com.fs.fashion_go.login.Login"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
            
        </activity>
        <!-- 注册 -->
        <activity
            android:name="com.fs.fashion_go.login.Register"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
        </activity>

        <!-- 找回密码 -->
        <activity
            android:name="com.fs.fashion_go.login.FindPassword"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
        </activity>
        <!-- 商品列表 -->
        <activity
            android:name="com.fs.fashion_go.home.Classifyone_good"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
        </activity>
        <!-- 商品分类 -->
        <activity
            android:name="com.fs.fashion_go.home.ClassifyThree_goods"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
        </activity>
        <!-- 商品列表 -->
        <activity
            android:name="com.fs.fashionshop.ui.Classify_four_ProductList"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
        </activity>
    </application>

</manifest>